
 
      body{background-color: rgb(185, 201, 189);

      }
     h1 {
        text-align:left
     }
     p {
         text-align:left
     }
     
     em, strong {
         
         color: rgb(241, 243, 218);
     }
 
 